nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 99;
  position: relative;
}
.navList,
.navIcons {
  display: flex;
  align-items: baseline;
  gap: 20px;
}
.searchIcon {
  cursor: pointer;
  background-color: transparent;
  color: black;
  border: none;
  outline: none;
}
.navList > a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.navList > a:not(:first-child) {
  font-weight: lighter;
  font-size: 12px;
  color: #363636;
}
.cartIcon {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  color: black;
}
