nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 99;
  position: relative;
}
.navList,
.navIcons {
  display: flex;
  align-items: baseline;
  gap: 20px;
}
.searchIcon {
  cursor: pointer;
  background-color: transparent;
  color: black;
  border: none;
  outline: none;
}
.navList > a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.navList > a:not(:first-child) {
  font-weight: lighter;
  font-size: 12px;
  color: #363636;
}
.cartIcon {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  color: black;
}

@media (max-width: 1028px) {
  .mobileNavBtns {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .mobileNavBtns > button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .mobileNav {
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    width: 70%;
    display: flex;
    height: 100%;
    flex-direction: column;
    box-shadow: rgb(0 0 0 / 70%) 0rem 0rem 100vh 100vh;
    justify-content: flex-start;
    padding: 100px 50px;
    gap: 25px;
  }
  .mobileNav > span {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
  }
  .mobileNav > span > img {
    max-width: 20px;
    position: absolute;
    left: -30px;
  }
  .mobileNav > .links {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .mobileNav > .links > a {
    height: auto;
  }
}
