.productContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}
.productContainer > h1 {
  text-align: center;
  margin: 80px 0;
}
.productWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 40px;
}
.productSortContainer {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 20px;
}
.productSortContainer > div {
  position: relative;
}
.productSortBtn {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: transparent;
  border: 1px solid grey;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
}
.productSortBtn > span {
  color: black;
}
.productSection {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 40px 0 200px;
}
.productFilter {
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 15px 0;
}
.productFilterClose {
  display: none;
}
.productList {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 25px;
  row-gap: 30px;
  transition: all 0.5s;
  width: 80%;
}
.productList.Full {
  width: 100%;
}
.sideBarBtn {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.555);
}
.sideBarBtn:hover {
  color: black;
}

.productFilterContainer {
  display: flex;
  flex-wrap: wrap;
  transition: all 0.5s;
  width: 60%;
  margin: 0 0 auto;
  gap: 20px;
}
.productFilterContainer > span {
  padding: 5px 10px;
  border: 1px solid lightgray;
  background-color: whitesmoke;
  color: rgb(71, 71, 71);
  border-radius: 20px;
  font-size: 12px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productFilterContainer > div {
  color: rgba(128, 128, 128, 0.588);
}
.productFilterContainer > button {
  padding: 5px 10px;
  border: 1px solid lightgray;
  background-color: whitesmoke;
  color: rgb(71, 71, 71);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.productFilterContainer > button > svg {
  font-size: 12px;
}
.Toastify__progress-bar-theme--light {
  background: linear-gradient(
    to right,
    #108524,
    #0c5d1acb,
    #0c5d1a9d,
    #128125,
    #16a52e,
    #14b42f,
    #1ee23e
  ) !important;
}
@media (max-width: 1028px) {
  .productWrapper {
    max-width: none;
    padding: 0;
  }
  .productList {
    margin: 50px 0 0;
    grid-template-columns: repeat(2, auto);
    width: 100%;
    padding: 0 15px;
  }
  .sideBarBtn {
    display: none;
  }
  .productSortContainer {
    flex-direction: column-reverse;
    align-self: auto;
    width: 100%;
    padding: 0 20px;
  }
  .productSortContainer > div {
    width: 100%;
  }
  .productSortBtn {
    justify-content: space-between;
    width: 100%;
  }
  .productFilter,
  .productFilterContainer {
    width: 100%;
  }
  .productFilterContainer {
    margin: 20px 0;
    padding: 0 20px;
  }
  .productSection {
    flex-direction: column;
  }
  .modal {
    border: 1px solid lightgray;
    border-radius: 3px;
    box-shadow: rgb(0 0 0 / 15%) 0rem 0rem 5px 5px;
  }
  .heroBanner > div {
    background-size: 100% 100% !important;
  }
}
