.SliderContainer {
  position: relative;
  margin-top: 125px;
  display: flex;
  gap: 10px;
}
.sliderCategories {
  position: absolute;
  left: 27%;
  top: 7%;
}
.sliderCategories > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  height: 20%;
  opacity: 0.8;
}
.sliderCategories > a > span {
  transform: rotate(-90deg);
  margin: 0 auto;
  text-decoration: none;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
}
.skeletonContainer {
  margin: 0 0 0 30px;
}
