@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");
.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  padding: 0 40px;
  margin: 50px auto;
}
.CartHeader {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 30px 0;
}
.CartHeader > h1 {
  font-size: 32px;
  font-family: "Rubik", sans-serif;
}
.breadCrumbsContainer {
  margin: 0 auto 0 0;
}

.cartContainer {
  display: flex;
  gap: 40px;
  width: 100%;
}

.cartSide {
  width: 25%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cartSection {
  transition: all 0.5s;
  width: 80%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding-bottom: 50px;
}

.cartDiscount {
  padding: 40px;
  background: rgba(50, 209, 90, 0.13);
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 80%;
}
.cartDiscount > h1 {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}
.cartDiscount > p {
  font-size: 14px;
  line-height: 1.6;
}
.cartDiscount > p > strong {
  font-family: "Rubik", sans-serif;
}

.productImg.cart {
  width: 150px;
  padding: 0 0 25%;
  height: 0;
  background-position: center 100%;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
}
.productParent {
  display: flex;
  width: 100%;
  gap: 30px;
}
.inventoryParent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100%;
}
.inventory {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: auto 0 0;
}
.productCardInfo.cart {
  justify-content: flex-start;
  gap: 10px;
}
.productCardContainer.cart {
  max-width: 80%;
  margin: 20px 0;
}
.removeFromCart.cart {
  background-color: transparent;
  color: black;
  margin: auto 0 0;
}
.sliderContainer.cart {
  width: 100%;
  flex-direction: column;
  height: 100%;
  gap: 40px;
  border-top: 1px solid lightgray;
  padding: 40px 0 0;
}
.sliderContainer.cart > span {
  padding: 0 0 0 20px;
}
.sliderContainer.cart > .slider {
  max-width: 100%;
}
.sliderContainer.cart .plantCardContainer {
  padding: 0 0 150%;
}

.cartSideContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  position: sticky;
  top: 0;
}
.paymentBtns {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.paymentBtns > a,
.paymentBtns > button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.paymentBtns > span {
  text-align: center;
}

.paymentLink {
  background-color: black;
  color: white;
  box-shadow: 0px 8px 15px rgba(115, 115, 115, 0.638);
  font-size: 12px;
  border: none;
  outline: none;
  cursor: pointer;
}
.paymentSquare {
  color: black;
  border: 1px solid black;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.paymentSquare > img {
  height: 15px;
}

.orderSummary {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}
.orderSummary > h1 {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 1px;
  margin: 10px 0;
}
.orderDetails {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid lightgray;
  padding: 0 0 20px;
}
.orderDetails > div {
  display: flex;
  justify-content: space-between;
}
.orderDetails > div > span {
  font-size: 14px;
}
.orderDetails > div > h1 {
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 1px;
}
.codeAddedFinal {
  display: flex;
  gap: 10px;
}
.codeAddedFinal > h1 {
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 1px;
}

.orderDiscount {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.64);
  padding: 10px 15px;
}
.orderDiscount > form {
  height: 100%;
  width: 100%;
}
.orderDiscount > form > input {
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
  cursor: text;
}
.orderDiscount > form > button {
  position: absolute;
  right: 10px;
  top: 12px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.orderDiscount > form > button > svg {
  font-size: 16px;
}
.orderSummary > span,
.codeAddedTotal {
  font-size: 12px;
  color: red;
}
.codeAddedTotal {
  text-decoration: line-through;
  text-align: center;
}
.paymentModal {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: fixed;
  right: 0;
  top: 68px;
  width: 550px;
  background: #ffffff;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.227) 0rem 0rem 100vh 150vh;
  padding: 50px;
  animation-name: slideout;
  animation-duration: 0.2s;
  overflow-y: scroll;
  height: -webkit-fill-available;
  z-index: 999999;
}
.paymentModal > form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.paymentModal > form > h1 {
  font-size: 16px;
}
.paymentModal > form > span {
  font-size: 14px;
  color: rgb(186, 5, 5);
  text-align: center;
}
.paymentModal input {
  border: none;
  border-bottom: 1px solid lightgray;
  border-radius: 8px;
  padding: 0 0 10px;
  text-indent: 10px;
  font-size: 12px;
}
.paymenModalCreditCard,
.paymenModalAdress {
  display: flex;
  gap: 10px;
  width: 100%;
}
.paymenModalCreditCard > input {
  width: 30%;
}
.paymenModalCreditCard > input:first-child {
  width: 40%;
}
.paymenModalAdress > input {
  width: 100%;
}
.paymentModalBTNS {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.paymentModalBTNS > .cancelPayment {
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 20px;
  background-color: transparent;
}

.paymentModalBTNS > .confirmPayment {
  background-color: black;
  color: white;
  box-shadow: 0px 8px 15px rgb(115 115 115 / 64%);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 40px;
}

@media (max-width: 1028px) {
  .cartContainer {
    flex-direction: column;
  }
  .cartSection,
  .cartSide,
  .paymentModal {
    width: 100%;
  }
  .paymentModal {
    top: 0;
    height: 100%;
  }
  .cartDiscount {
    max-width: none;
  }
  .cartSideContainer {
    position: relative;
  }
  .productCardContainer.cart {
    max-width: none;
    flex-direction: column-reverse;
  }
  .productParent {
    flex-direction: column;
  }
  .productImg.cart {
    width: auto;
    padding: 0 0 50%;
  }
}
