.breadcrumbs {
  display: flex;
  text-align: center;
  justify-content: center;
}
a {
  width: auto !important;
}
.crumb {
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
}
.crumb > a {
  text-decoration: none;
  color: #301934;
  width: auto;
}
.crumb > a:first-child {
  color: #36454f;
}
.crumb:last-child > a > span {
  display: none;
}
