.modal {
  position: absolute;
  background-color: white;
  z-index: 99999;
  width: 100%;
}
.modal > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal > ul > li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}
