.cartSidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: fixed;
  right: 0;
  top: 68px;
  width: 450px;
  background: #ffffff;
  height: 100%;
  box-shadow: rgb(0 0 0 / 70%) 0rem 0rem 100vh 150vh;
  padding: 50px;
  animation-name: slideout;
  animation-duration: 0.05s;
  overflow-y: scroll;
  height: -webkit-fill-available;
}
.shopLink {
  background-color: rgb(31, 31, 31);
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  font-size: 14px;
  height: auto;
}
.cartSidebar > img {
  max-height: 150px;
  object-fit: contain;
}
.productCardContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}
.productCardContainer > .productImg {
  height: 0;
  padding: 0 0 50%;
  width: 100px;
  background-position: center 100%;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
}
.productCardInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.productCardInfo > h1 {
  font-size: 20px;
}
.productCardInfo > span {
  font-size: 14px;
}
.productCardInfo > .inventory {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
}
.inventory > button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
}
.inventory > div {
  color: black;
}
.inventory > button > svg {
  font-size: 16px;
  color: gray;
}
.cartEmpty {
  display: flex;
  gap: 5px;
}

.productDiscount > span:nth-child(2) {
  color: black !important;
}
.removeFromCart {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.cartSidebar .slider {
  max-width: none !important;
}
.whatYouLike {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top: 1px solid lightgray;
  padding: 10px;
}
.subTotal {
  display: flex;
  gap: 5px;
}

@media (max-width: 1028px) {
  .cartSidebar {
    width: 100%;
    top: 0;
    height: 100%;
    animation-name: slideoutMobile;
    animation-duration: 0.2s;
  }
  .mobileSideBarClose {
    display: flex;
    justify-content: flex-end;
  }
  .mobileSideBarClose > button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: black;
  }
  .productCardContainer > .productImg {
    width: 30%;
  }
}
@keyframes slideout {
  from {
    width: 0;
    opacity: 0;
  }

  to {
    width: 100%;
    opacity: 1;
  }
}
@keyframes slideoutMobile {
  from {
    width: 0;
    opacity: 0;
  }

  to {
    width: 100%;
    opacity: 1;
  }
}
