footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 70%;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
}

footer > div {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  justify-content: flex-end;
}

footer > div > a > svg {
  transform: scale(0.8);
}
